version: '3'
services:
  remy-vite:
    cap_add:
      - SYS_ADMIN
    restart: "unless-stopped"
    ports:
      - "3000:3000"
    expose:
      - "3000"
    environment:
      - NODE_ENV=development
    volumes:
      - type: bind
        source: ./vite
        target: /app
    entrypoint: /bin/sh -c
    command: |
      'sh -s <<EOF
        . /asdf/asdf.sh
        mkdir -p /app/node_modules
        mkdir -p /tmp/node_modules
        mount --bind /tmp/node_modules /app/node_modules
        cd /app
        npm install
        npx -c "vite dev --port 3000 --host 0.0.0.0"
      EOF'
